## 1차 - 값이 틀림

In [51]:
def solution(x):
    answer = len(x) - 1
    for n in range(answer):
        if seoul[n] == "Kim":
            global location
            location = n
            break
        else:
            continue
    print("김서방은 ", location, "에 있다")

seoul = ["Jane", "1", "2", "3", "Kim"]
solution(seoul)

김서방은  2 에 있다

## 2차

In [55]:
def solution(n):
    answer = len(n)
    for n in range(len(n)):
        if seoul[n] == "Kim":
            location = n
            break
        else:
            continue
    print("김서방은", location, "에 있다")

seoul = ["Jane", "1", "2", "3", "Park", "Moon", "Kim", "Lee"]
solution(seoul)

김서방은 6 에 있다

In [65]:
def solution(n):
    answer = len(n)
    for n in range(len(n)):
        if seoul[n] == "Kim":
            global location
            location = n
            return location
            break
        else:
            continue

seoul = ["Jane", "1", "2", "3", "Park", "Moon", "Kim", "Lee"]
solution(seoul)
print("김서방은 ", location, "에 있다", sep="")

김서방은 6에 있다

#### "" 추가 버전

In [63]:
def solution(n):
    answer = len(n)
    for n in range(len(n)):
        if seoul[n] == "Kim":
            global location
            location = n
            return location
            break
        else:
            continue

seoul = ["Jane", "Kim"]
solution(seoul)
print('"김서방은 ', location, '에 있다"', sep="")

"김서방은 1에 있다"

In [67]:
def solution(n):
    for n in range(len(n)):
        if seoul[n] == "Kim":
            global location
            location = n
            return location
            break
        else:
            continue

seoul = ["Jane", "1", "2", "3", "Park", "Moon", "Kim", "Lee"]
answer = solution(seoul)
print("김서방은 ", answer, "에 있다", sep="")

김서방은 6에 있다

In [69]:
def solution(seoul):
    for n in range(len(seoul)):
        if seoul[n] == "Kim":
            global location
            location = n
            return location
            break
        else:
            continue

seoul = ["Jane", "1", "2", "3", "Park", "Moon", "Kim", "Lee"]
answer = solution(seoul)
print("김서방은 ", answer, "에 있다", sep="")

김서방은 6에 있다

### 최종 코드

In [71]:
def solution(seoul):
    for n in range(len(seoul)):
        if seoul[n] == "Kim":
            global location
            location = str(n)
            break
        else:
            continue
    return "김서방은 " + location + "에 있다"

seoul = ["Jane", "1", "2", "3", "Park", "Moon", "Kim", "Lee"]
answer = solution(seoul)
print(answer)

김서방은 6에 있다

### 다른 사람이 짠 코드

In [73]:
def findKim(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))

seoul = ["Jane", "Kim"]
answer = solution(seoul)
print(answer)

김서방은 1에 있다

#### index() 함수 연습

In [76]:
a = [1,2,3]
a.index(3)

2

In [77]:
a.index(1)

0

---

### 다른 사람이 짠 코드 2

In [4]:
def findKim(seoul):
    for i in range(len(seoul)):
        if seoul[i]=="Kim":
            return "김서방은 {}에 있다".format(i)

seoul = ["Jane", "Kim"]
answer = findKim(seoul)
print(answer)

김서방은 1에 있다