### 세트 만들기

In [2]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [4]:
eventA = ["이도원", "신동욱", "오창환", "신준호"]
eventB = ["이도원","문지현", "편효범"]

eventAll = eventA + eventB
print(eventAll)
set_evnetAll = set(eventAll)
print(set_evnetAll)

['이도원', '신동욱', '오창환', '신준호', '이도원', '문지현', '편효범']
{'신동욱', '신준호', '오창환', '편효범', '이도원', '문지현'}

In [5]:
type(set1)

set

In [10]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8, 9, 10}
A.intersection(B)

{4, 5}

In [8]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
A.difference(B)

{1, 2, 3}

In [11]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8, 9, 10}
A & B

{4, 5}

In [12]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
A-B

{1, 2, 3}

### 리스트, 튜플, 세트 간 타입 변환

In [17]:
a = [1, 2, 3, 4, 5]
print(a)
type(a)

[1, 2, 3, 4, 5]

list

In [18]:
b= tuple(a)
print(b)
type(b)

(1, 2, 3, 4, 5)

tuple

In [19]:
c = set(a)
print(c)
type(c)

{1, 2, 3, 4, 5}

set

In [20]:
list(c)

[1, 2, 3, 4, 5]

In [21]:
list(b)

[1, 2, 3, 4, 5]