In [1]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른", "대한민국":"서울"}
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '대한민국': '서울'}

In [4]:
country_capital["영국"]

'런던'

In [5]:
dict_data1 = {1:"버스", 3:"비행기", 4:"택시", 5:"자전거"}
print(dict_data1)

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [6]:
dict_data1[3]

'비행기'

In [8]:
play_data1 = {"신동욱":"동작구", "이도원":"강동구", "오창환":"구리시", "편효범":"하남시", "신준호":"노원구"}
print(play_data1)

{'신동욱': '동작구', '이도원': '강동구', '오창환': '구리시', '편효범': '하남시', '신준호': '노원구'}

In [11]:
play_data1["이도원"]

'강동구'

In [14]:
dict_data2 = {1:10, 2:20, 3:30, 4:40, 5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [15]:
dict_data3 = {"list_data1":[11, 12, 13], "list_data2":[21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [17]:
mixed_dict = {1:10, "dict_num":{1:10, 2:20}, "dict_list_tuple":{"A":[11,12,13], "B":[21,22,23]}, "dict_string":"이것은 책입니다"}
print(mixed_dict)

{1: 10, 'dict_num': {1: 10, 2: 20}, 'dict_list_tuple': {'A': [11, 12, 13], 'B': [21, 22, 23]}, 'dict_string': '이것은 책입니다'}

### 딕셔너리 다루기

#### 딕셔너리에 데이터 추가하고 변경하기

In [18]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른", "대한민국":"서울"}
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '대한민국': '서울'}

In [19]:
country_capital["독일"] = "베를린"
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '대한민국': '서울', '독일': '베를린'}

In [20]:
country_capital["호주"] = "캔버라"
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '대한민국': '서울', '독일': '베를린'}

#### 딕셔너리에서 데이터 삭제하기

In [22]:
del country_capital["프랑스"]
print(country_capital)

{'영국': '런던', '스위스': '베른', '호주': '캔버라', '대한민국': '서울', '독일': '베를린'}

#### 딕셔너리 메서드 활용하기

In [24]:
fruit_code = {"사과":101, "배":102, "딸기":103, "바나나":105}
print(fruit_code)

{'사과': 101, '배': 102, '딸기': 103, '바나나': 105}

In [27]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '바나나'])

In [28]:
print(fruit_code.values())

dict_values([101, 102, 103, 105])

In [29]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('바나나', 105)])

In [30]:
list_keys = list(fruit_code.keys())
type(list_keys)

list

In [31]:
list_items = list(fruit_code.items())
type(list_items)

list

In [32]:
list_values = list(fruit_code.values())
type(list_values)

list

In [33]:
fruit_code2 = {"오렌지":106, "수박":107}
print(fruit_code2)

{'오렌지': 106, '수박': 107}

In [34]:
fruit_code.update(fruit_code2)
print(fruit_code)

{'사과': 101, '배': 102, '딸기': 103, '바나나': 105, '오렌지': 106, '수박': 107}

In [35]:
fruit_code3 = {"수박":108}
print(fruit_code3)

{'수박': 108}

In [36]:
fruit_code.update(fruit_code3)
print(fruit_code)

# 수박이 107에서 108로 업데이트(덮어쓰기) 되었다

{'사과': 101, '배': 102, '딸기': 103, '바나나': 105, '오렌지': 106, '수박': 108}

In [38]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict