### 난수 발생 모듈

In [1]:
import random

random.random()

0.5572223802291009

In [2]:
import random

dice1 = random.randint(1,6)
dice2 = random.randint(1,6)

print(f"주사위 두 개의 숫자 : {dice1}, {dice2}")

주사위 두 개의 숫자 : 2, 3

In [3]:
import random

user = input("이름을 입력하세요")

dice1 = random.randint(1,6)
dice2 = random.randint(1,6)

print(f"주사위 두 개의 숫자 : {dice1}, {dice2}")

print(user, dice1+dice2)

이름을 입력하세요이도원
주사위 두 개의 숫자 : 4, 4
이도원 8

In [7]:
import random

user1 = input("이름1을 입력하세요")
user2 = input("이름2을 입력하세요")

dice1 = random.randint(1,6)
dice2 = random.randint(1,6)

print(f"{user1}님의 점수 : {dice1}, {user2}님의 점수 : {dice2}")

이름1을 입력하세요이도원
이름2을 입력하세요문지현
이도원님의 점수 : 4, 문지현님의 점수 : 1

In [9]:
import random

random.randrange(0,11,2) # 짝수

10

In [10]:
import random

random.randrange(1,11,2) # 홀수

5

In [12]:
import random

num1 = random.randrange(1, 10, 2) # 홀수
num2 = random.randrange(1, 10, 2) # 0~99의 10단위 숫자 선택
print(num1, num2)

7 3

In [14]:
import random

# one, two, three, four, five
# one : 첫 번째 나오는 공
# two : 두 번째 나오는 공
# three : 세 번째 나오는 공
# four : 네 번째 나오는 공
# five : 다섯 번째 나오는 공

one = random.randrange(0, 46)
two = random.randrange(0, 46)
three = random.randrange(0, 46)
four = random.randrange(0, 46)
five = random.randrange(0, 46)

print(one, two, three, four, five)

18 14 34 40 10

In [19]:
import random

food = []

menu = ["비빔밥", "된장찌개", "볶음밥", "불고기", "스파게티", "피자", "탕수육"]
food.append(random.choice(menu))

print(food)

['불고기']

In [20]:
import random

random.sample(range(0,46), 5)

[13, 8, 25, 1, 31]

### 날짜 및 시간 관련 처리 모듈

In [22]:
import datetime

set_day = datetime.date(2020,10,26)
print(set_day)

2020-10-26

In [24]:
print(set_day.year, set_day.month, set_day.day)

2020 10 26

In [28]:
import datetime

day1 = datetime.date(2020, 10, 26)
day2 = datetime.date(2020, 10, 31)

diff_day = day2 - day1

print(f"코딩 테스트 D-{diff_day}")

코딩 테스트 D-5 days, 0:00:00

In [27]:
type(day1)

datetime.date

In [29]:
type(diff_day)

datetime.timedelta

In [30]:
import datetime

print(datetime.date.today())

2020-10-26

In [31]:
import datetime

day1 = datetime.date.today()
day2 = datetime.date(2020, 10, 31)

diff_day = day2 - day1

print(f"코딩 테스트 D-{diff_day}")

코딩 테스트 D-5 days, 0:00:00

In [32]:
import datetime

now = datetime.datetime.now()
print(now)

2020-10-26 12:19:49.341018

In [33]:
print("Date & Time : {:%Y-%m-%d, %H:%M:%S}".format(now))

Date & Time : 2020-10-26, 12:19:49

In [35]:
print("Date : {:%Y-%m-%d}".format(now))
print("Time : {:%H:%M:%S}".format(now))

Date : 2020-10-26
Time : 12:19:49

In [36]:
now = datetime.datetime.now()
set_dt = datetime.datetime(2017, 12, 1, 12, 30, 45)

print(f"현재 날짜 및 시각: {now}")
print(f"차이: {set_dt - now}")

현재 날짜 및 시각: 2020-10-26 12:24:36.271862
차이: -1060 days, 0:06:08.728138

In [37]:
from datetime import date, time, datetime
print(date(2020, 10, 26))

2020-10-26

In [38]:
print(time(15,30,45))

15:30:45

In [39]:
print(datetime(2020,10,26,12,29,30))

2020-10-26 12:29:30

In [40]:
print(datetime.now())

2020-10-26 12:29:34.321270

### 달력 생성 및 처리 모듈

In [41]:
import calendar

print(calendar.calendar(2020))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [42]:
import calendar

print(calendar.calendar(2020, m=4))

                                               2020

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1             1  2  3  4  5
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8       6  7  8  9 10 11 12
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15      13 14 15 16 17 18 19
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22      20 21 22 23 24 25 26
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29      27 28 29 30
                                                    30 31

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
25 26 27 28 29 30 31      29 30                     27 28 29 30 31            24 25 26 27 28 29 30
                                                                              31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1          1  2  3  4  5  6
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                                                    30

In [58]:
print(calendar.month(2020,10))

    October 2020
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [59]:
print(calendar.monthrange(2020,10))

(3, 31)

In [62]:
calendar.setfirstweekday(calendar.SUNDAY)
print(calendar.month(2020,10))

    October 2020
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [60]:
print(calendar.firstweekday())

6

In [63]:
print(calendar.weekday(2020,10,26))

0