### 형 변환 함수

#### 정수형으로 변환

In [10]:
[int(0.123), int(3.5145123412), int(-1.324124)]

[0, 3, -1]

In [11]:
[int("123"), int("5678"), int("-34241")]

[123, 5678, -34241]

#### 실수형으로 변환

In [12]:
[float(0), float(123), float(-532)]

[0.0, 123.0, -532.0]

In [13]:
[float("10"), float("0.123"), float("-532.234")]

[10.0, 0.123, -532.234]

#### 문자형으로 변환

In [14]:
[str(123),str(12367423),str(-933) ]

['123', '12367423', '-933']

In [16]:
[str(0.123),str(1236.7423),str(-93.3) ]

['0.123', '1236.7423', '-93.3']

#### 리스트, 튜플, 세트형으로 변환

In [15]:
list((1,2,3)), list({1,2,3})

([1, 2, 3], [1, 2, 3])

In [18]:
tuple([1,2,3]), tuple((1,2,3))

((1, 2, 3), (1, 2, 3))

In [19]:
set([1,2,3]), set((1,2,3))

({1, 2, 3}, {1, 2, 3})

In [20]:
list_data = ["abc", 1.2, "def"]
tuple_data = ("abc", 1.2, "def")
set_data = {"abc", 1.2, "def"}

In [21]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [22]:
print("리스트로 변환: ", list(tuple_data), list(set_data))

리스트로 변환:  ['abc', 1.2, 'def'] [1.2, 'def', 'abc']

In [23]:
print("튜플로 변환: ", tuple(list_data), tuple(set_data))

튜플로 변환:  ('abc', 1.2, 'def') (1.2, 'def', 'abc')

In [25]:
print("세트로 변환: ", set(list_data), set(tuple_data))

세트로 변환:  {1.2, 'def', 'abc'} {1.2, 'def', 'abc'}

### bool 함수

#### 숫자를 인자로 bool 함수 호출

In [28]:
bool(0)

False

In [29]:
bool(1)

True

In [30]:
bool(-10)

True

In [31]:
bool(0.01)

True

#### 문자열을 인자로 bool 함수 호출

In [32]:
bool(" ")

True

In [33]:
bool("이도원")

True

In [34]:
bool(None)

False

#### 리스트, 튜플, 세트를 인자로 bool 함수 호출

In [35]:
myFriends = []
bool(myFriends)

False

In [36]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
bool(myFriends)

True

In [37]:
myNum = ()
bool(myNum)

False

In [38]:
myNum = (1,2,3)
bool(myNum)

True

In [40]:
mySet = {}
bool(mySet)

False

In [41]:
mySet = {10, 20, 30}
bool(mySet)

True

#### bool 함수의 활용

In [44]:
def print_name(name):
    if bool(name):
        print(f"입력된 이름: {name}")
    else:
        print("입력된 이름이 없습니다")
        
print_name("이도원")
print_name("")

입력된 이름: 이도원
입력된 이름이 없습니다

#### 최솟값과 최댓값을 구하는 함수

In [45]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [46]:
myStr = "zjdfalf"
[min(myStr), max(myStr)]

['a', 'z']

In [49]:
myStr = "zjAdfalf"
[min(myStr), max(myStr)]

['A', 'z']

In [47]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

[0, 99.5]

In [48]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

['Abc', 'efg']

#### 절댓값과 전체 합을 구하는 함수

In [50]:
[abs(10), abs(-10)]

[10, 10]

In [51]:
[abs(10.3432), abs(-10.3432)]

[10.3432, 10.3432]

In [52]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

#### 항목의 개수를 구하는 함수

In [53]:
len("ab cd")

5

In [54]:
len([1,2,3,4,5,6,7,8,9,10])

10

#### 내장 함수의 활용

In [55]:
scores = [90, 80, 95, 85]

score_sum = 0
subject_num = 0

for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num + 1

average = score_sum / subject_num

print(f"총점 : {score_sum}, 평균 : {average}")

총점 : 350, 평균 : 87.5

In [56]:
scores = [90, 80, 95, 85]
print("총점 : {0}, 평균 : {1}".format(sum(scores), sum(scores)/len(scores)))

총점 : 350, 평균 : 87.5

In [59]:
print(f"최하 점수:{min(scores)}, 최고 점수:{max(scores)}")

최하 점수:80, 최고 점수:95