In [5]:
import pandas as pd

# 엑셀 파일을 pandas의 DataFrame 형식으로 읽어온다.
df = pd.read_excel('C:/myPyCode/data/담당자별_판매량_통합.xlsx')

# 제품명 열에서 핸드백이 있는 행만 선택한다.
product_name = input("원하는 제품명을 입력하세요 (핸드백, 시계, 구두)")
product = df[(df['제품명']== product_name)]

# 행별로 합계를 구하고 마지막 열 다음에 추가한다.
product_sum = pd.DataFrame(product.sum(axis=1), columns = ['연간판매량'])
product_total = product.join(product_sum)

# 열별로 합해 분기별 합계와 연간판매량 합계를 구하고 마지막 행 다음에 추가한다.
product_sum2 = pd.DataFrame(product_total.sum(), columns=['합계'])
product_total2  = product_total.append(product_sum2.T)

# 지정된 항목의 문자열을 변경한다.
product_total2.loc['합계', '제품명'] = product_name
product_total2.loc['합계', '담당자'] = '전체'
product_total2.loc['합계', '지역'] = '전체'

# 결과를 확인한다.
product_total2

원하는 제품명을 입력하세요 (핸드백, 시계, 구두)구두

   제품명 담당자  지역  1분기   2분기   3분기   4분기 연간판매량
1   구두   A   가  273   241   296   217  1027
4   구두   B   나  200   223   213   202   838
7   구두   C   다  231   279   277   292  1079
10  구두   C   다  231   279   277   292  1079
합계  구두  전체  전체  935  1022  1063  1003  4023