### 구조적 데이터 생성하기

#### series를 활용한 데이터 생성

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([10,20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
s1.values

array([10, 20, 30, 40, 50], dtype=int64)

In [6]:
s2 = pd.Series(["a","b","c",1,2,3])
s2

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

In [8]:
import numpy as np

s3 = pd.Series([np.nan,10,30])
s3

0     NaN
1    10.0
2    30.0
dtype: float64

In [9]:
index_date = ["2018-10-07", "2018-10-18", "2018-10-09", "2018-10-10"]

s4 = pd.Series([200,195,np.nan,205],index = index_date)
s4

2018-10-07    200.0
2018-10-18    195.0
2018-10-09      NaN
2018-10-10    205.0
dtype: float64

In [12]:
s5 = pd.Series({"국어":100, "영어":95, "수학":90})
s5

국어    100
영어     95
수학     90
dtype: int64

#### 날짜 자동 생성 date_range

In [13]:
import pandas as pd

pd.date_range(start="2020-10-05", end="2021-04-09")

DatetimeIndex(['2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08',
               '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12',
               '2020-10-13', '2020-10-14',
               ...
               '2021-03-31', '2021-04-01', '2021-04-02', '2021-04-03',
               '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07',
               '2021-04-08', '2021-04-09'],
              dtype='datetime64[ns]', length=187, freq='D')

In [14]:
pd.date_range(start="2020-10-05", periods=7)

DatetimeIndex(['2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08',
               '2020-10-09', '2020-10-10', '2020-10-11'],
              dtype='datetime64[ns]', freq='D')

In [15]:
pd.date_range(start="2020-10-05", periods=4, freq="2D")

DatetimeIndex(['2020-10-05', '2020-10-07', '2020-10-09', '2020-10-11'], dtype='datetime64[ns]', freq='2D')

In [16]:
pd.date_range(start="2020-10-05", periods=4, freq="AS")

DatetimeIndex(['2021-01-01', '2022-01-01', '2023-01-01', '2024-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [18]:
index_date = pd.date_range(start="2019-03-01", periods=5, freq="D")
pd.Series([51,62,55,49,58], index=index_date)

2019-03-01    51
2019-03-02    62
2019-03-03    55
2019-03-04    49
2019-03-05    58
Freq: D, dtype: int64