# 리스트 만들기

In [4]:
# p.48 항목의 데이터 타입은 같지 않아도 됩니다
# 자바, C
# int name = [1, 2, 3]

# 파이썬
name1 = ["신동욱", 11, 2.73, True]
print(name1)

['신동욱', 11, 2.73, True]

In [5]:
# 빈 리스트의 샘플 코드
empty_list = []

In [6]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90, 95, 85, 80
student1 = [90, 95, 85, 80]
print(student1)

[90, 95, 85, 80]

In [7]:
type(student1)

list

In [11]:
print(student1[0])

90

In [12]:
print(student1[1])

95

In [13]:
print(student1[2])

85

In [14]:
print(student1[3])

80

In [15]:
print(student1[-1])

80

In [16]:
print(student1[-3])

95

In [18]:
student1[1] = 100
print(student1)

[90, 100, 85, 80]

In [20]:
student_3 = ["이도원", "편효범", "오창환", "신준호"]
print(student_2)

['이도원', '편효범', '오창환', '신준호']

In [21]:
print(student_3[0])

이도원

In [22]:
print(student_3[-4])

이도원

In [23]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

In [27]:
mixedList = [0, 1, 3.14, "Python", "Program", True, myFriends]
print(mixedList)

[0, 1, 3.14, 'Python', 'Program', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [33]:
# mixedList 리스트 변수에서 James를 뽑아보세요
print(mixedList[-1][0])

James

# 리스트 다루기

### 리스트 곱하기와 더하기

In [35]:
list_con1 = [1, 2, 3, 4]
list_con2 = [5, 6, 7, 8]
list_con = list_con1 + list_con2 # 리스트 연결

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
list_con1 = [1, 2, 3, 4]
list_con = list_con1 *3 # 리스트 반복

print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### 리스트 중 일부 항목 가져오기

In [45]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

### 리스트에서 항목 삭제하기

In [46]:
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

### 리스트에서 항목의 존재 여부 확인하기

In [47]:
list_data1 = [1, 2, 3, 4, 5]
print(list_data)

[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [49]:
list_data1 = [1, 2, 3, 4, 5]
print(5 in list_data)
print(6 in list_data)

True
False

### 리스트 메서드 활용하기

In [50]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
myFriends.append("Tomas")
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Tomas']

In [55]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
myFriends.insert(1, "Tomas")
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Tomas', 'Robert', 'Lisa', 'Mary']

In [56]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
myFriends.extend(["Laura", "Betty"])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

In [57]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
myFriends.extend([["Laura", "Betty"]])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', ['Laura', 'Betty']]

In [58]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
myFriends.remove('Mary')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa']

In [59]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
myFriends.pop()
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa']

In [60]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
myFriends.index("Lisa")
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary']

In [61]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
index_friend = myFriends.index("Lisa")
print(index_friend)

['James', 'Robert', 'Lisa', 'Mary']
2

In [62]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
count_friend = myFriends.count("Lisa")
print(count_friend)

['James', 'Robert', 'Lisa', 'Mary']
1

In [63]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
myFriends.sort()
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Lisa', 'Mary', 'Robert']

In [64]:
myFriends = ["James", "Robert", "Lisa", "Mary"]
print(myFriends)
myFriends.reverse()
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['Mary', 'Lisa', 'Robert', 'James']