### 튜플 만들기

In [2]:
tuple1 = (1, 2, 3, 4)
print(tuple1)

(1, 2, 3, 4)

In [3]:
print(type(tuple1))

<class 'tuple'>

In [5]:
print(tuple1[1])

2

In [6]:
tuple2 = (5, 6, 7, 8)
print(tuple2)

(5, 6, 7, 8)

In [7]:
tuple3 = (9,)
tuple4 = 10,
print(tuple3)
print(tuple4)

(9,)
(10,)

### 튜플 다루기

In [8]:
tuple5 = (1, 2, 3, 4)
tuple[1] = 5

TypeError: 'type' object does not support item assignment

In [9]:
del tuple5[1]

TypeError: 'tuple' object doesn't support item deletion

In [10]:
del tuple5
print(tuple5)

NameError: name 'tuple5' is not defined

In [11]:
tuple6 = ("a", "b", "c", "d", "e", "f")
tuple6.index("c")

2

In [15]:
# 플레이데이터1의 성적
playdata_class1 = ("신동욱", "문지현", "이도원")
name = input("본인의 이름을 입력하세요")
print((playdata_class1.index(name)+1) + "등 입니다")

본인의 이름을 입력하세요이도원

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# 플레이데이터1의 성적
playdata_class1 = ("신동욱", "문지현", "이도원")
name = input("본인의 이름을 입력하세요")
print(str(playdata_class1.index(name)+1) + "등 입니다")

본인의 이름을 입력하세요이도원
3등 입니다

In [17]:
tuple7 = ("a", "a", "a", "b", "b", "c", "d")
tuple7.count("a")

3

In [18]:
print("좌표")

좌표